<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="<?.staticPath?>/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?.staticPath?>/lib/flatui/css/flat-ui.css" rel="stylesheet">
    <title>Pub Service Declaration</title>
  </head>

  <body>
    <div class="container">
      <div class="row vertical-center-row">
        <h3>Pub服务使用声明</h3>
        <p>pub服务是由七牛解决方案研发，基于原IPC（数字摄像头）直播转发服务开发的流媒体解决方案产品，功能上，pub服务可以拉取互联网上的媒体资源（拉流或文件），并统一以互联网直播协议RTMP的流媒体进行串流输出（推流），RTMP直播协议区别于其它串流协议的优势在于可以有效利用各大厂商的互联网网络节点，对大并发量的下行观看提供支持。</p>
        <p>图例：</p>
        <img src="<?.staticPath?>/img/declaration.png" class="img-rounded img-responsive">
        <p class="img-comment">
          <strong>说明：</strong>
          用户申请使用pub服务，并按需购买计算力（如虚拟机）以提供转推所需的计算，带宽资源，资源需求按照实际并发的推流数量，推流码率，以及是否有转码需求而定。完成后登陆pub服务进行推流配置并执行推流任务。
        </p>
        <p>使用pub转推服务意味着用户了解媒体资源的版权以及相关法律，请明确资源的合法性以及使用规范。</p>
      </div>
    </div>
  </body>
</html>
