<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pub</title>
    <script src="<?.staticPath?>/lib/jquery/jquery.js"></script>
    <script src="<?.staticPath?>/lib/jquery/jquery.tmpl.min.js"></script>
    <link href="<?.staticPath?>/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="<?.staticPath?>/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="<?.staticPath?>/lib/flatui/css/flat-ui.css" rel="stylesheet">
    <script src="<?.staticPath?>/lib/flatui/js/flat-ui.min.js"></script>
  </head>
  <style>
    html, body, .container {
      height: 100%;
      width: 100%;
    }

    .container {
      display: table;
      vertical-align: middle;
    }

    .col-center-block {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
    }

    .fui-big-font {
      font-size: 91px;
    }

    .reset-screen-bg {
      background-color: #1abc9c;
    }
  </style>

  <body class="reset-screen-bg">
    <div class="container">
      <div class="row vertical-center-row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-center-block">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="login-form">

                <div class="form-group">
                  <input type="text" class="form-control login-field" value="" placeholder="用户名" id="name">
                  <label class="login-field-icon fui-user" for="name"></label>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control login-field" value="" placeholder="原密码" id="opass">
                  <label class="login-field-icon fui-lock" for="opass"></label>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control login-field" value="" placeholder="新密码" id="pass">
                  <label class="login-field-icon fui-lock" for="pass"></label>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control login-field" value="" placeholder="确认新密码" id="cpass">
                  <label class="login-field-icon fui-lock" for="cpass"></label>
                </div>

                <a class="btn btn-primary btn-lg btn-block" href="#" id="reset-btn">确认重置</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="<?.staticPath?>/js/reset.js"></script>
  </body>
</html>
